html {
    font-family: sans-serif;
    text-align: center;
}
header {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
}
h1 {
    margin-left: 5%;
}
.headshot > img {
    width: 50px;
    border: solid 2px gray;
    border-radius: 100%;
    margin-left:5%;
}

ul {
    list-style:none;
}

