html {
    padding:4%;
    text-align: center;
    box-sizing:border-box;
    font-family: 'Quattrocento', serif;
}

.header-flex {
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    display:flex;
    border-bottom: 2px solid gray;
}
h1 {
    margin-left: 5%;
    font-size:30px;
}

h2 {
    font-size:22px;
}

.headshot > img {
    width: 50px;
    border: solid 2px gray;
    border-radius: 100%;
    margin-left:4%;
}

ul {
    list-style:none;
    font-family: 'Quattrocento', serif;
}

p {
    font-family:'lato',sans-serif;
    text-align: justify;
}

.languages-used{
    list-style: none;
    font-family: 'Quattrocento', serif;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 24px;
    padding-left:0px;
    margin-bottom: 1%;
    margin-left:10px;
}

.languages-used li{
    margin-right: 4px;
}

.projects-div{
    border:2px solid gray;
    border-radius:4px;
    margin-bottom:5%;
    padding-bottom: 2%;
}

nav {
    float:right;
    }

nav button{
    float: right;
}

nav ul{
    display:none;
    position: absolute;
    width: 120px;
    right:0;
    margin-top:30px;
}

nav ul li{
    float: right;
    list-style: none;
}

nav a {
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 10px 0px;
    text-decoration: none;
    display: block;
    background-color:grey;
    width:120px;
  }

nav ul li a:hover{
background-color: red;
}

nav button:hover + #nav-buttons, #nav-buttons:hover{
    display: block;
}

.projectSlides:hover > a > .view-project-hover{
    opacity: 1;
  }
  
  .projectSlides:hover .imgProjectSlides {
    filter: grayscale(100%) blur(2px);
    cursor: pointer;
  }

  .view-project-hover {
    opacity: 0;
    color: white;
    background-color: rgba(255, 0, 0, 0.4);
    font-size: 3em;
    transition: all .3s;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    left: 0;
    right: 0;
}

.view-project-options{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

button{
    border-radius:4px;
    background-color:#d2d2d2;
    border: solid 2px gray;
}

button:hover{
    border: 2px solid white;
    background-color:red;
    color: white;
    cursor:pointer;
}

/*button-view*/
.button-view{
    border: solid 2px gray;
    padding:4px;
    text-decoration: none;
    border-radius:2px;
    background-color:#d2d2d2;
}

.button-view:hover{
    border: 2px solid white;
    background-color:red;
    color: white;
    cursor:pointer;
}

.contact-links {
    list-style: none;
    font-family: 'Quattrocento', serif;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left:0px;
    font-size:24px;
}

ul.contact-links li:hover{
    color: red;
}

ul.languages-used li:hover{
    color:red;
}

a .view-project-options{
    text-decoration:none;
    font-size:18px;
}

footer p{
    text-align: center;
}

/* image house for Project Showcase*/
.projectSlides{
    width:100%;
    position: relative
}
.projectSlides img{
    width: 100%;
    max-width: 800px;
    transition: all 0.3s ease;
}

@media screen and (min-width:800px) {
html {
    padding:2%;
    display: inline-block;
    margin-top: 5%;
    margin-bottom:5%;
}

header{
    float:left;
    width:25%;
    border-right: 2px solid gray;
    position: fixed;
}
.header-flex {
    flex-direction:column;
    border-bottom:none;
    height:50%;
}

main{
    padding-left:4%;
    float:left;
    width:75%;
    margin-left:25%;
}

.headshot > img {
    width: 75%;
    border: solid 2px gray;
    border-radius: 10%;
    margin-left:4%;
}

nav{
    float:none;
}

nav button{
    display: none;
}

nav ul{
    display:block;
    position:relative;
}

nav a {
    font-size: 18px;
    color: black;
    text-align: center;
    padding: 10px 0px;
    text-decoration: none;
    display: block;
    width:120px;
    background: none;
  }

nav ul li a:hover{
background:none;
color: red;
font-weight: bold;
}

p {
    text-align: center;
}

.languages-used{
    margin-left: 10px;
    font-size: 36px;
}

.contact-links{
    font-size:36px;
    }
}


